<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
            background: black;
            color: green;
        }
        div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
        }
        h4 {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div class="container">
        <h4>Welcome to the Python App</h4>
        <h4>Image</h4>
        <img src="{{url}}">
        <p><small>Array Sorting Algorithms: <a href="https://drive.google.com/file/d/1eR1mAkcR6UxKETV0M_8MDi63CK6vV-PY/view?usp=share_link"></a></small></p>
    </div>  
</body>
</html>